[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint-django = "*"
django = "*"
django-ckeditor = "*"
pillow = "*"
pylint = "*"
pylint-celery = "*"

[dev-packages]

[requires]
python_version = "3.11"
